<div id="<%= dom_id bus %>">
<%= image_tag bus.photo, style: "width: 100px" %>
  <p>
    <strong>Registration:</strong>
    <%= bus.registration %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= bus.name %>
  </p>
  <p>
    <strong>Capacity:</strong>
    <%= bus.capacity %>
  </p>

  <p>
    <strong>From:</strong>
    <%= bus.from %>
  </p>

  <p>
    <strong>To:</strong>
    <%= bus.to %>
  </p>

  <p>
    <strong>Departing time:</strong>
    <%= bus.departing_time.strftime("%H:%M %p") %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= bus.date %>
  </p>

</div>
